.photo-desc{
display: flex;
flex-direction: row;
width: 600px;
height: 250px;
/* border: 2px solid black; */
margin-left: 150px;
background-color: rgb(54, 54, 93);
}

.photo{
    padding: 10px ;
    height: 230px;
    width: 250px;
    border-radius: 10%;
}

.title-desc{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 4px;
}
.title{
    color: azure;
    font-size:xx-large;
}
.desc{
    color: azure;
    font-size:small;
    padding-top: 30px;
}